
/* Overlay style */
#simple-modal-overlay {
  position: fixed ;
  display: block;
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.simple-modal {
  /* Style rewrite */
  width: 600px;
  left: 20px;
  top: 20px;
  /* */

  position: absolute;
  position: fixed;
  margin: 0;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 18px;
  background-color: #000;
  z-index: 99999;
}
.simple-modal .simple-modal-header {
  padding: 5px 15px;
  margin: 0;
}
.simple-modal .simple-modal-header h1 {
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 36px;
}
.simple-modal a.close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 10px;
  text-decoration: none;
}
.simple-modal a.close:hover {
  color: #fff;
}
.simple-modal .simple-modal-body {
  padding: 15px;
  /* Extra style */

}
.simple-modal .simple-modal-body div.contents {
  overflow: hidden;
}
.simple-modal .simple-modal-body p {
  font-size: 13px;
  font-weight: normal;
  color: #fff;
  line-height: 18px;
}
.simple-modal .simple-modal-body p img {
  display: block;
  margin: 0 auto 10px auto;
}

.simple-modal .simple-modal-footer a.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0px 0px 0px;
  color: #fff;
  font-size: 13px;
  line-height: normal;
}
.simple-modal .simple-modal-footer a.btn.primary {
  color: #FFF;
  background-color: #000;
  margin-right: 0px;
}
