<!-- МОБИЛЬНАЯ ВЕРСИЯ -->
	<div id="wrapmod_mb" >
        <div id="parent_popup_click_mb">
                <div class="yellow"><a href="" >ПОЗВОНИТЕ МНЕ</a></div>
                <div class="green"><a href="">ПОЗВОНИТЬ</a></div>
        </div>
    </div>
    
    
	<div id="wrapmod_mb_form">
        <div id="parent_popup_click_mb">
           <a class="close_mb" title="Закрыть">×</a>
            <span class="form-title_mb">Заказать звонок</span>
            <form class="user_form">
                <input class="inp_mb" id="phone" name="phone" placeholder="Телефон" maxlength="50" type="tel" required="required">
                <div class="bt_mb_form"><a href="javascript:void(0)" >ЗАКАЗАТЬ ЗВОНОК</a></div>                
            </form>
        </div>
    </div>


	<div id="wrapmod_mb_ok">
        <div id="parent_popup_click_mb">
            <a class="close_mb" title="Закрыть">×</a>
            <span class="form-title_mb">Спасибо</span>
            <p>Мы с Вами свяжемся в ближайшее время!</p>
        </div>
    </div>