	<!-- ВЕБ ВЕРСИЯ -->
	<div id="wrapmod">
        <div id="parent_popup_click">
           <a class="close" title="Закрыть">×</a>
            <span class="form-title">Заказать звонок</span>
            <form class="user_form">
                <input class="inp" id="phone" name="phone" placeholder="Телефон" maxlength="50" type="tel" required="required">
                <div class="more_btn"><a href="javascript:void(0)" >ЗАКАЗАТЬ ЗВОНОК</a></div>                
            </form>
        </div>
    </div>

	<div id="wrapmod_ok">
        <div id="parent_popup_click">
            <a class="close" title="Закрыть">×</a>
            <span class="form-title">Спасибо</span>
            <br>
            <p>Мы с Вами свяжемся в ближайшее время!</p>
        </div>
    </div>
