@charset "utf-8";
/* CSS Document */
img, a:focus, select, textarea {
	border: 0px;
	outline: 0px;
	}
	
html, body {
	width: 100%;
	background:#fff;
	}



@media only screen and (max-device-width: 1280px) {
	#heart {
			overflow:hidden;
			height: 130px;
			width: 130px;
			right:80px !important;
			bottom:80px !important;
			-webkit-border-radius: 93px;
			-moz-border-radius: 93px;
			border-radius: 93px;
			-webkit-box-shadow: 0 0px 3px rgba(0,0,0,0.3);
			-moz-box-shadow: 0 0px 3px rgba(0,0,0,0.3);
			box-shadow: 0 0px 3px rgba(0,0,0,0.3);	
	
	}

	#heart img{
			margin:-62px 0 0 -63px;
			height: 253px;
			width: 253px;
		}

}


#heart {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: heartBeat;
    background: rgba(0, 0, 0, 0) url("http://sevdol.ru/images/pn.png") no-repeat scroll 0 0;
    bottom: 150px;
    cursor: pointer;
    display: block;
    height: 126px;
    position: fixed;
    right: 20px;
    width: 126px;
    z-index: 2000000;
}


@keyframes heartBeat {
   0% {
    transform: scale(none);
    -webkit-transform: scale(none);
  }

  45% {
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
  }
  
  50% {
    transform: scale(none);
    -webkit-transform: scale(none);
  }
  
  100% {
    transform: scale(none);
    -webkit-transform: scale(none);
  }
}

@-webkit-keyframes heartBeat {
   0% {
    transform: scale(none);
    -webkit-transform: scale(none);
  }

  
  45% {
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
  }
  
  50% {
    transform: scale(none);
    -webkit-transform: scale(none);
  }
  
  100% {
	transform: scale(none);
    -webkit-transform: scale(none);
  }
}



.comp {
	max-width:1280px;
	background:#fff;
	-webkit-box-shadow: 0 0px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0px 5px rgba(0,0,0,0.4);
	box-shadow: 0 0px 5px rgba(0,0,0,0.4);
	}

	
body {
	font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
	background:#fff;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	}

.clear {
	clear: both;
	}

	
	
/* ШАПКА */

.all_header {

	width:100%;	
	overflow:hidden;
	background:#fff;
	position: relative;
	}

.all_header .menu_bg{
	font-weight: normal;
	z-index:1000;
	position:absolute;
	top:78px;
	width:100%;
	min-width:1000px;
	text-align:center;
	height:46px;
	margin:0px 0 0 0;
	background:url(../img/pattern2.png) repeat-x, url(../img/bt_bg.png) repeat-x;
	
	
	}
	
	

.all_header ul {
	position:absolute;
	left:50%;
	width:860px;
	height:46px;
	margin:0px 0 0 -390px;
	
	}
	
.all_header li {
	float:left;
	font-size:14px;
	list-style:none;
	margin:0px 0px;
	padding:15px 30px 0px 28px;
	}
	
.all_header li.line {
	float:left;
	height:31px;
	font-size:14px;
	color:#fff;
	list-style:none;
	margin:0px 0px;
	padding:15px 30px 0px 28px;
	background:url(../img/line.jpg) no-repeat top right;
	}
	
.all_header li a{
	color:#fff;
	text-decoration:none;
	}
	
.all_header li a:hover{
	color:#bbddfa;
	}	




.header {
	position: relative;
	width:1000px;	
	height:735px;
	}

	
.header_bl_left {
	z-index: 2;
	width:300px;
	position: absolute;	
	font-size:21px;
	color:#1b578f;
	text-align:left;
	margin:20px 0 0 34px;
	}
.header_bl_left p {
	background:url(../img/phone.png) no-repeat  0px 0px;
	font-weight:bold;
	padding:1px 0 0 34px;
	margin:0px 0 0 0;
	}

.header_bl_center {
	z-index: 2;
	width:300px;
	position: absolute;	
	left:325px;
	text-align:center;
	margin:5px 0 0 0;
	}
	
.header_bl_right {
	z-index: 2;
	width:300px;
	position: absolute;	
	right:0px;
	text-align:right;
	margin:20px 29px 0 0;
	}
	
	
.galer{
	background:url(../img/pattern2.png) repeat-x  0px 0px;
	z-index:1;
	position:absolute;
	left:-140px;
	top: 120px;
	}





.action {
	z-index:10;
	position: absolute;
	right:0px;
	bottom:0px;
	width:613px;
	height:415px;	
	text-align:right;
	background:url(../img/action.png) no-repeat;

	}
	
.action h1{
	color: #fff;
	font-size: 42px;
	font-weight: bold;
	margin:10px 40px 0px 0;
	}

.action .sale h2{
	position: absolute;
	left:215px;
	top:0px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	margin:0 0 40px 0;
	}



.action .sale {
	position: relative;
	text-align:right;
	z-index:100;	
	line-height: 49px;
	margin:90px 40px 5px 0;
	padding:0px;
	color: #f7ab27;
	font-size: 115px;
	font-weight: bold;
	}

.action .sale small{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	margin:0px;
	}

.action .sale .mini{
	color: #fff;
	height:10px;
	line-height: 14px;
	vertical-align:top;
	z-index:100;
	font-size: 65px;
	font-weight: bold;
	margin:0px 0 0 5px;
	}
.action .sale .mini_pr{
	color: #fff;
	display:inline;
	z-index:100;
	line-height:10px;
	font-size: 20px;
	font-weight: bold;
	margin-left:-5px;
	}
	
.action .sale .mini_pr2{
	color: #fff;
	display:inline;
	z-index:100;
	position: absolute;
	right:0px;
	top:20px;
	line-height:10px;
	font-size: 20px;
	font-weight: bold;
	margin-left:-15px;
	}
	
	
.action .sale sup {
	font-size: 14px;
	}

.more_btn {
	margin: 40px;
	text-align:center;
	}

.more_btn a {
	height: 46px; 
	line-height: 46px;
	color: #fff;
	border: 0; 
	font-size: 17px;
	font-weight: bold;
	background:#faa62d;
	padding:0px 30px;
    -webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	display: inline-block;
	text-decoration: none;
}

.more_btn a:hover {
	opacity: 0.9;
}

.action .cat{
	position: absolute;	
	top:162px;
	right:130px;
	margin:0px 0px 0px 0px;
	}

/* ДОМ */

.all_house {
	width:100%;	
	background: #fff;
	position: relative;
	}

.house {
	position: relative;	
	width:1000px;	
	text-align:center;
	height:510px;
	}


.house h1{
	color: #206dae;
	font-size: 25px;
	font-weight: bold;
	padding:50px 0px 0 0;
	margin:0px;
	}
	
.house h2{
	color: #206dae;
	font-size: 18px;
	margin:10px 0 60px 0;
	}
	
	
	
.house .house_bl {
	text-align:left;
	float:left;
	width:229px;
	height:120px;
	margin:60px 0 20px 15px;
	background:#206dae;
	}
	
.house .house_bl img {
	margin:-80px 0 0px 0px;
	}

.house .house_bl h2{
	color: #fff;
	font-size: 14px;
	margin:16px 10px 10px 10px;
	}
	
.house .house_bl p{
	color: #fff;
	font-size: 15px;
	margin:10px;
	}

.house .house_block {
	text-align:center;
	float:left;
	width: 128px;
	margin:0px 0 0 10px;
	}
.house .house_block1 {
	text-align:center;
	float:left;
	width: 128px;
	margin:0px 0 0 25px;
	}
	
.house .house_block p, .house .house_block1 p{
	text-align:center;
	margin:0px;
	padding:10px 0 0 0;
	color: #555956;
	font-size: 13px;
	}







/* ДОМ */

.all_area {
	width:100%;	
	position:relative;
	background-color:#196eb0;
	border-bottom:1px solid #297ab9;
	}


.area {
	position:relative;
	z-index:2;	
	width:1000px;	
	height:600px;
	font-size:12px;
	color:#474747;
	padding:50px 0px 4px 0px;
	background:url(../img/fl.png)  no-repeat right bottom;
	}
	


.area h1{
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	padding:0px 15px;
	display:inline;
	}
	
.area h2{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin:10px 0 60px 0;
	}

	
	
.area .man{
	float:left;
	margin:-40px 0px 0px 10px;
	}
	
.area .booble {
	float:left;
	margin:0px 0 0 40px;
	width:320px;
	height:320px;
	background-color: #fff;
	padding:0px;
    -webkit-border-radius: 225px;
	-moz-border-radius: 225px;
	border-radius: 225px;
	}
	
.area .booble p {
	font-weight:lighter;
	line-height: 26px;
	text-align:left;
	margin:70px 0 0 0;
	width:200px;
	color: #0c5f9f;
	font-size: 16px;
	}
	
	
.area .all_area_block {
	float:left;
	text-align:left;
	width:500px;
	height:270px;
	padding:0px;
	margin:0px 0 0 100px;
	}

.area .all_area_block  h2{
	color: #faa62d;
	font-size: 30px;
	font-weight: bold;
	line-height:25px;
	margin:0px 0 10px 0;
	padding:0px;
	}
	
.area .all_area_block p{
	color: #fff;
	font-size: 16px;
	margin:5px 0 10px 0;
	padding:0px;
	}
	
.area .all_area_block img{
	margin:0 0 10px -30px;
	}








/* КОМПАНИЯ */

.all_company {
	position: relative;
	width:100%;
	background-color:#0c5f9f;
	border-bottom:1px solid #297bba;
	}

.company {
	width:1000px;	
	font-size:12px;
	color:#474747;
	padding:50px 0px 0px 0;
	}
	


.company h1{
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	padding:0px 15px;
	display:inline;
	}
	
.company h2{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin:10px 0 60px 0;
	}
	
	
.company .all_company_block {
	width:900px;
	padding:10px 0 20px 20px;
	}

.company .company_block {
	text-align:center;
	float:left;
	width: 190px;
	margin:0px 0 0 40px;
	}
.company .company_block1 {
	text-align:center;
	float:left;
	width: 190px;
	margin:0px 0 0 0px;
	}
	
.company .company_block p, .company .company_block1 p{
	text-align:center;
	margin:0px;
	padding:10px 0 0 0;
	color: #fff;
	font-size: 12px;
	}
	
	
	
	

	
/* вид */
.all_view {
	position: relative;
	width:100%;
	background:#fff;
	height:653px;
	overflow:hidden;

	}

.view {
	height:653px;
	}


.view h2{
	z-index:100;
	position: absolute;
	top:40px;
	left:40px;
	margin: 0px;
	padding:20px 0 0 20px;
	line-height:34px;
	width: 380px;
	height: 118px; 
	background:rgba(45,46,45,0.9);	
	text-align:left;
	color:#fff;
	font-size:24px;	
}

.view_galer{
	z-index:1;
	position:absolute;
	}


.view .more_btn {
	z-index:10;
	position:absolute;
	top:178px;
	left:40px;
	margin:0px;
	text-align:center;
}

.view .more_btn a {
	font-size: 17px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}	
	

/* ПЛАНИРОВКИ */

.all_plan {
	position: relative;
	width:100%;
	height:750px;
	background:url(../img/pattern2.png) repeat-x  0px 0px #0071bc;
	}

.plan {
	width:1000px;	
	font-size:12px;
	color:#fff;
	padding:20px 0px 4px 0;
	}
	
.plan h1{
	font-size: 25px;
	font-weight: bold;
	margin:25px 0 10px 0;
	}
	
.plan h1 span{
	font-size: 35px;
	font-weight: bold;
	margin:25px 0 10px 0;
	}
	
.plan h3{
	float:left;
	font-size: 18px;
	font-weight: bold;
	margin:0px 0 10px 60px;
	}
	
.plan h3 span{
	color:#faa62d;
	font-size: 35px;
	font-weight: bold;
	margin:25px 0 0px 0;
	}
	
.plan h2{
	font-size: 18px;
	font-weight: bold;
	margin:0px 0 20px 0;
	}
	
.plan .all_plan_block {
	width:879px;

	}

.plan .plan_block {
	text-align:left;
	float:left;
	margin:15px 0 20px 54px;
	}
	
.plan .sp_sale {
	margin:40px 0px 0px 160px;
	}
	
.plan .plan_block p{
	text-align:center;
	margin:0px;
	padding:20px 0 0 0;
	color: #fff;
	line-height:15px;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	}
.plan .plan_block p small{
	font-style: normal;
	font-size: 16px;
	}
	
.plan .plan_block .sp_pr {
	color:#faa62d;
	font-size: 18px;
	font-weight: bold;
	padding:0px;
	margin:10px 0 10px 0;
	}

.plan .plan_block img{
	width: 216px;
	height: 216px; 
	border: 1px solid #e0e0e0; 
	background-color: #f9f9f9;
	padding:0px;
    -webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	border-radius: 125px;
	}

.plan .itl{
	margin:0px;
	color: #555555;
	padding:40px 0 0 0;
	font-size: 10px;
	font-style: italic;
	}

.plan p{
	margin:0px;
	color: #555555;
	padding:20px 0 0 0;
	font-size: 10px;
	font-style: italic;
	}


.plan .more_btn a {
	margin-bottom:10px;
}


.plan sup {
	font-size: 8px;
	}
	
.plan .sale_bl{
	width:820px;
	height:100px;
	padding:0px;
	margin:50px 0px 50px 0px;
	}

.plan .sale h2{
	position: absolute;
	left:54px;
	top:13px;
	color: #fff;
	line-height: 21px;
	font-size: 15px;
	font-weight: bold;
	margin:0 0px 0px 0;
	}

.plan .act_2{
	float:left;
	padding:0px;
	margin:0px;
	
	
	}

.plan .sale {
	float:left;
	width:330px;
	position: relative;
	text-align:right;	
	margin:0px 0px 0px 0px;
	padding:0px;
	color: #f7ab27;
	font-size: 90px;
	font-weight: bold;
	}

.plan .sale small{
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	margin:0px;
	}

.plan .sale .mini{
	color: #fff;
	height:10px;
	line-height: 14px;
	vertical-align:top;
	z-index:100;
	font-weight: bold;
	margin:0px 0 0 5px;
	}
.plan .sale .mini_pr{
	color: #fff;
	display:inline;
	z-index:100;
	line-height:10px;
	font-size: 15px;
	font-weight: bold;
	margin-left:5px;
	}
	
.plan .sale .mini_pr2{
	color: #fff;
	display:inline;
	z-index:100;
	position: absolute;
	right:0px;
	top:50px;
	line-height:10px;
	font-size: 15px;
	font-weight: bold;
	margin-left:-15px;
	}
	


/* ПОДВАЛ */

.all_footer{
	height:200px;
	width:100%;
	background:url(../img/bg_footer.png) repeat-x #fff;	
	}

.footer {
	position: relative;
	width:1000px;	
	font-size:12px;
	color:#474747;
	}
	
.footer div {
	text-align:left;
	float:left;
	margin:63px 20px 0 20px;
	}
.footer div.copyrite {
	width:257px;
	margin-left:39px;
	}
.footer div.copyrite img {
	margin:-6px 0 0 -6px;
	}
.footer div.mapinfo {
	width:385px;
	}
.footer div.sber {
	margin-top: 58px;
	}
	
.footer div.sber p {
	margin-top: 8px;
	}

.footer div p{
	padding-top: 5px;
	}
	
.footer div .bold{
	margin:0px;
	padding: 2px 0 0 17px;;
	font-weight:bold;
	}
	
.footer div .mp{
	background:url(../img/mp_mini.jpg) no-repeat  3px 7px;	
	padding:2px 0 0 17px;
	line-height:20px;
	}
	
.footer div.mapinfo a{
	font-size:12px;
	color:#474747;
	}

.footer div.mapinfo a:hover{
	font-size:12px;
	color:#116bb1;
	text-decoration: none;
	}
	
	


#wrapmod, #wrapmod_ok {
	display: none;
	z-index: 100000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	background: rgba(0, 0, 0, 0.725);
}
#wrapmod_mb, #wrapmod_mb_form, #wrapmod_mb_ok {
	display: none;
	z-index: 100000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.close_mb {
	position:absolute;
	text-decoration: none;
	font-size: 80px;
	top:10px;
	right:20px;
	height:100px;
	width:75px;
	color:#fff;
	line-height:90px;
	cursor: pointer;
}

#parent_popup_click_mb{
	position:relative;
	width: 100%;
	min-height:150px;
	background: #092742;
	color:#fff;
	padding: 0px 0;
	text-align:center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	position: fixed;
	z-index: 10000;
	font-size: 38px;
	bottom: 0%;
	left: 0%;
	margin:0;
}

.form-title_mb{
	font-size: 58px;
	color: #fff;
	text-align:center;
	display:block;
	padding: 30px 0px 0px 0px;
}

#parent_popup_click_mb .inp_mb{
	width: 390px;
	height:55px;
	font-size:33px;
	margin:30px 0 0px 0px;
	text-align:left;
	padding-left:15px;
	border:1px solid #cccccc;
}
	
	
#parent_popup_click{
	width: 400px;
	background: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	position: fixed;
	z-index: 10000;
	top: 40%;
	left: 50%;
	margin:-100px 0 0 -200px;
}
#parent_popup_click .inp{
	width: 390px;
	height:25px;
	font-size:14px;
	margin:10px 0 0px 0px;
	text-align:left;
	padding-left:5px;
	border:1px solid #cccccc;
}

#parent_popup_click textarea{
	width: 391px;
	font-size:14px;
	margin:10px 0 0px 0px;
	text-align:left;
	padding:5px 0 0 5px;
	border:1px solid #cccccc;
}



.close {
	text-decoration: none;
	font-size: 40px;
	float: right;
	line-height: 13px;
	cursor: pointer;
}
.form-title{
	font-size: 18px;
	color: #000;
	display: inline-block;
	margin-bottom: 30px;
}	
	

#parent_popup_click .more_btn{
	margin: 35px 0px 15px 0px;
	text-align:center;
	}

#parent_popup_click .mob{
	float:left !important;
	margin: 35px 10px 15px 20px;
	text-align:left;
	}

.green{
	margin: 0px 0px 0px 0px;
	text-align:center;
	}

.green a {
	height: 130px; 
	width:100%;
	line-height: 130px;
	color: #fff;
	border: 0; 
	font-size: 57px;
	font-weight: bold;
	background:#41a047;
	padding:0px 0px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	display: inline-block;
	text-decoration: none;
}

.green  a:hover {
	opacity: 0.9;
}

.yellow { 
	margin: 0px 0px 0px 0px;
	text-align:center;
	}

.yellow a {
	height: 130px; 
	width:100%;
	line-height: 130px;
	color: #fff;
	border: 0; 
	font-size: 57px;
	font-weight: bold;
	background:#faa62d;
	padding:0px 0px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	display: inline-block;
	text-decoration: none;
}

.yellow  a:hover {
	opacity: 0.9;
}

.bt_mb_form {
	margin: 40px;
	text-align:center;
	}

.bt_mb_form a {
	height: 86px; 
	line-height: 86px;
	color: #fff;
	border: 0; 
	font-size: 37px;
	font-weight: bold;
	background:#faa62d;
	padding:0px 30px;
    -webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	display: inline-block;
	text-decoration: none;
}

.bt_mb_form a:hover {
	opacity: 0.9;
}